<div>
    <label>Liczba elementów:</label>
    <select [value]="itemCount || 1" (change)="itemCount=$event.target.value">
        <option *ngFor="let item of getProducts(); let i = index" 
        [value]="i + 1" [selected]="(i + 1) === itemCount">
            {{i + 1}}
        </option>
    </select>
</div>

<div>
    <label>Stawka podatku:</label>
    <select [value]="taxRate || 0" (change)="taxRate=$event.target.value">
        <option value="0">Brak</option>
        <option value="8">8%</option>
        <option value="23">23%</option>
    </select>
</div>
<div>
    <label>Filtr:</label>
    <select [(ngModel)]="categoryFilter">
        <option>Szachy</option>
        <option>Piłka nożna</option>
        <option>Sporty wodne</option>
    </select>
</div>
<!-- <table class="table table-sm table-bordered table-striped">
    <tr><th>Klucz</th><th>Wartość</th></tr>
    <tr *ngFor="let item of getProducts() | keyvalue">
    <td>{{ item.key }}</td>
    <td>{{ item.value | json }}</td>
</tr>
    </table> -->

<!-- <div>
    {{ getProducts() | json}}
</div> -->
<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Produkt</th>
        <th>Kategoria</th>
        <th>Cena</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of getProducts() | filter:categoryFilter | slice:0:(itemCount || 1); let i = index; let odd = odd;
let even = even" [class.bg-info]="odd" [class.bg-warning]="even">
        <td style="vertical-align:middle">{{i + 1}}</td>
        <td style="vertical-align:middle">{{item.name | titlecase}}</td>
        <td style="vertical-align:middle">{{item.category}}</td>
        <td style="vertical-align:middle">
            {{item.price | addTax:(taxRate || 0) | currency:"PLN":"symbol":undefined:"pl-PL"}}</td>
        <td style="vertical-align:middle">{{item.category | i18nSelect:selectMap }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">
                Usuń
            </button>
        </td>
    </tr>
</table>